@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}

<div class="indexPage">
    <div class="mainLogo">
        <img src="~/Images/logo.png" />
    </div>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <a ui-sref="howitworks"><md-button class="md-raised md-primary frontButton howButton">How it works</md-button></a>
        <a ui-sref="createRoom"><md-button class="md-raised frontButton createButton">Create Room</md-button></a>
        <a ui-sref="joinroom"><md-button class="md-raised md-primary frontButton joinButton">Join Room</md-button></a>
        <a ui-sref="opendashboard"><md-button class="md-raised md-primary frontButton dashboardButton">Open Dashboard</md-button></a>
        <a ng-click="Continue()" ng-if="continue">
            <md-button class="md-raised md-primary frontButton continueButtom">
                <div>Continue</div>
                <div>{{username}}</div>
                <div>Room: {{code}}</div>
            </md-button>
        </a>
    </section>

    <div class="md-padding" style="max-width: 400px; margin: 0 auto; text-align: center; background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); margin-top:40px">
        <h3>Donate</h3>
        <p>
            This beer tasting app is crafted, hosted, and maintained by a single developer, fueled by a passion for enhancing the tasting experience. If you find value in the app, please consider a donation of $10-20 per user to support ongoing development.
        </p>
        <p>
            If you find bugs, have feature requests or just want to chat feel free to send me an email. gumbosveins@gmail.com
        </p>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="8SQV6FM9JLV86" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_IS/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>

</div>