<div class="indexPage join">
  <md-progress-linear md-mode="indeterminate" ng-if="loading"></md-progress-linear>

  <md-toolbar class="md-toolbar-modern">
    <div class="md-toolbar-tools">
      <a href="/" aria-label="Home"><img class="home" src="/Images/icons/home-2-24.png" alt="Home" /></a>
      <span flex></span>
      <strong>Join Room</strong>
      <span flex></span>
    </div>
  </md-toolbar>

  <div class="hero-inner">
    <div class="form-wrap">
      <div class="hero-logo"><img src="/Images/logo.png" alt="Logo" /></div>

      <div class="form">
        <div class="row">
          <md-input-container class="md-block" md-no-float>
            <label>Room Code (4 letters)</label>
            <input ng-model="room.roomCode" type="text" md-maxlength="4" maxlength="4" ng-required="true" style="text-transform:uppercase" autocomplete="off" />
          </md-input-container>

          <md-input-container class="md-block" md-no-float>
            <label>Room PIN (4 digits)</label>
            <input ng-model="room.pin" type="text" inputmode="numeric" pattern="\d{4}" maxlength="4" ng-required="true" placeholder="1234" autocomplete="one-time-code" />
          </md-input-container>
        </div>

        <div class="row">
          <md-input-container class="md-block" md-no-float>
            <label>Username</label>
            <input ng-model="room.username" type="text" ng-required="true" autocomplete="name" />
          </md-input-container>
        </div>

        <div class="center" ng-if="!loading">
          <md-button type="submit" class="btn btn-primary" ng-click="JoinRoom(room)">Join Room</md-button>
        </div>
      </div>
    </div>
  </div>
</div>